beancount==3.1.0
beancount-periodic==0.2
fava==1.30.3
fava-portfolio-returns @ git+https://github.com/andreasgerstmayr/fava-portfolio-returns.git@bb69c6045ec91355c5de96950aee8fcaebc1f6cd
fava_investor==1.0.1
