beancount==3.2.0
beancount-periodic==0.2.1
fava==1.30.11
fava-dashboards==2.0.0b4
fava-portfolio-returns==2.4.0
fava_investor @ git+https://github.com/redstreet/fava_investor.git@f83db450ae3bd47d228c0fcc8b0db7b954f51d26
